.calc {

    .ovulation {

        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__grid {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr; /* две колонки слева */
            grid-template-rows: auto auto;  /* два ряда для левой стороны */
            gap: var(--gap-small);
            grid-template-areas:
                "left-top right"
                "left-bottom right";

            @media (max-width: 1024px) {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, auto); /* три ряда подряд */
                grid-template-areas:
            "left-top"
            "left-bottom"
            "right";
            }
        }

        &__step {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            color: var(--color-accent);
            background-color: #FF5A901A;
            border-radius: 40px;
        }

        &__panel {
            justify-content: space-between;
            flex-direction: row;

            @media (max-width: 576px) {
                align-items: flex-start;
                flex-direction: column;
                gap: var(--gap-larger);
            }

            &--large {
                grid-area: right;
                flex-direction: column;
                align-items: flex-start;

                @media (max-width: 1024px) {
                    align-items: center;
                    flex-direction: row;
                }

                @media (max-width: 768px) {
                    align-items: flex-start;
                    flex-direction: column;
                    gap: var(--gap-larger);
                }
            }
        }

        &__head {
            display: flex;
            align-items: center;
            width: 100%;
            gap: var(--gap-normal);

            @media (max-width: 576px) {
                br {
                    display: none;
                }
            }
        }

        &__text {
            font-weight: 400;
            text-align: center;
            margin: var(--gap-medium) 0;
        }

        &__btn {
            margin: 0 auto;

            svg {
                width: 24px;
                height: 24px;
            }
        }

        &__result {
            position: relative;
            padding: var(--padding-large);
            background-color: var(--color-accent-light);
            border-radius: var(--radius-large);
            margin-top: calc(var(--gap-larger) * 2);

            &::before {
                position: absolute;
                inset: calc(-1 * var(--gap-larger)) calc(-1 * var(--gap-larger) - 4px) 0;
                height: 2px;
                background-color: var(--color-shadow);
                content: '';
            }

            &-title {
                margin-bottom: var(--gap-medium);
                text-align: center;
            }
        }

        &__legend {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: var(--gap-medium);
            margin-top: var(--gap-normal);

            &-item {
                display: flex;
                align-items: center;
                gap: var(--gap-small);
            }

            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 40px;
                width: calc(var(--width-icon-smaller) + 8px);
                height: calc(var(--width-icon-smaller) + 8px);
                background-color: var(--color-accent);
                color: var(--color-neutral);
                font-size: var(--text-medium);

                img {
                    width: 24px;
                    height: 24px;
                }

                &--main {
                    background-color: var(--color-main);
                }

                &--neutral {
                    background-color: var(--color-neutral);
                }
            }
        }
    }
}